// Callout
.callout {
  padding-top: 7.5rem;
  padding-bottom: 7.5rem;

  h2 {
    font-size: 2rem;
  }
  h3 {
    font-size: 1rem;
    text-transform: uppercase;
  }

  img {
    width: 100%;
    height: auto;
    border-radius: 50%;
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, .1);
  }

  @media (max-width: $breakpoint-tablet-landscape-up) {
    padding-top: 3rem;
    padding-bottom: 3rem;

    h2 {
      font-size: 1.75rem;
    }

    img {
      max-height: 200px;
      max-width: 100%;
      width: auto;
    }
  }

  @media (max-width: $breakpoint-tablet) {
    img {
      margin-bottom: 40px;
    }
  }
}
