.portfolio-item {
  height: 18rem;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, .1);

  .portfolio-content {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    position: absolute;
    left: 0;
    top: 0;

    color: $white;
    padding: 1rem 2rem 2rem;

    transition: background-color .3s ease-in;
    -moz-transition: background-color .3s ease-in;
    -ms-transition: background-color .3s ease-in;
    -o-transition: background-color .3s ease-in;
    -webkit-transition: background-color .3s ease-in;

    i {
      position: absolute;
      top: 1rem;
      right: 1rem;
      opacity: 0.5;
    }

    .portfolio-text {
      position: absolute;
      bottom: 2rem;
      left: 2rem;
      width: calc(100% - 4rem);
      max-height: calc(100% - 4rem);

      h2 {
        font-size: 0.8rem;
        text-transform: uppercase;
      }

      p {
        font-weight: 300;
        font-size: 1.2rem;
      }
    }
  }

  .portfolio-background {
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  a:hover {
    .portfolio-content {
      background-color: rgba($primary, .8);
    }
  }

  @media (max-width: $breakpoint-tablet-landscape-up) {
    height: 14rem;

    .portfolio-content {
      padding: 1.5rem;

      .portfolio-text {
        bottom: 1.5rem;
        left: 1.5rem;
        width: calc(100% - 3rem);
        max-height: calc(100% - 3rem);

        h2 {
          font-size: 0.7rem;
        }

        p {
          font-size: 1rem;
        }
      }
    }
  }
}
